// 颜色
@color-primary: #009243; // 主题色，logo颜色
@color-background: #f7f8fa; // 背景色，通常用于大背景
@color-background-light: #fafafa; // 背景色，通常用于textarea
@color-border: #ebedf0; //边框颜色
@color-text:  #323233; // 文字颜色


@border-default: 1px solid @color-border;